<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<root>
  <aceplayer>C:\\Users\\TelNav\\AppData\\Roaming\\ACEStream\\player\\ace_player.exe</aceplayer>
  <vlcplayer>C:\\Program Files\\VideoLAN\\VLC\\vlc.exe</vlcplayer>
  <otherplayer>C:\\Programs\\mplayer_classic\\mplayerc.exe</otherplayer>
</root>
